
.nav-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  flex: 1;
  margin: 0 50px;
}
.nav-bar a button{
  margin-bottom: 5px;
  color: #fff;
  border: none;
  background-color: #333;
  padding: 5px;
  border-radius: 4px;
  transition: color 0.15s, background-color 0.15s;
  cursor: pointer;
}
.nav-bar a button:hover{
  box-sizing: border-box;
  border: solid 1px #333;
  color:#333;
  background-color: #fff;
}